@page "/cart"
@model CartModel

<div class="row">
    <div class="my-5">
        <div class="text-center display-6 my-5">
            Cart
        </div>
        <table clsss="my-5">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Adet</th>
                    <th>Fiyat</th>
                    <th>Toplam fiyat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var line in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
                {
                    <tr>
                        <td>@line.Product.ProductName</td>
                        <td>@line.Quantity</td>
                        <td>@line.Product.Price.ToString("c")</td>
                        <td>@((line.Product.Price*line.Quantity).ToString("c2"))</td>
                        <td>
                            <form method="post" asp-page-handler="Remove">
                                <input type="hidden" name="id" value="@line.Product.ProductId" />
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                    Sil
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total :</td>
                    <td class="text-right text-danger">
                        @Model.Cart?.ComputeTotalValue().ToString("C2")
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center my-3">
            <div class="btn-group">
                <a class="btn btn-primary" href="@Model?.ReturnUrl">Alişverişe devam et</a>
                <a class="btn btn-primary mx-2" asp-action="Checkout" asp-controller="Order">Alışverişi Bitir</a>
            </div>
        </div>
    </div>
</div>